#reportcards {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  
#reportcards td, #reportcards th {
  padding: 0.5rem;
  text-align: center;
}

#reportcards tr:nth-child(even){background-color: var(--lightgrey);}
#reportcards tr:nth-child(odd){background-color: white}

#reportcards tr:hover {background-color: var(--greenblue);}

#reportcards th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: var(--purple);
color: white;
}